# Computing R.E. Agent Commuter Times in SoFla

## Step 1: Describing and Filtering the Raw Data

The only dependency we need is Pandas.

In [31]:
import pandas as pd

Our <b>source</b> file is the raw data, which does not include any headers. Also, the source data includes licensees in both Miami-Dade and Monroe counties, but we're only interested in the Dade list.

The <b>with_header</b> list is an intermediate file. This is where we will keep the data with the header appended to it.

And the <b>dest</b> file is the final output: a list of Miami-Dade licensees with the headers at the top.

In [32]:
source = '/Users/haru/Documents/data/sofla/licensing/sofla_licensing_dade-monroe_2018-04-28.csv'
with_header = '/Users/haru/Documents/data/sofla/licensing/sofla_licensing_dade-monroe_with-header_2018-04-28.csv'
dest = '/Users/haru/Documents/data/sofla/licensing/sofla_licensing_dade_2018-04-28.csv'

Since we're using Python's built-in file-writing methods (i.e. instead of a module like <b>csv</b>), we'll need to turn the list of column headers into a single, comma-delimited string.

In [33]:
Columns = [
    "Board",
    "Board Name",
    "Licensee Name",
    "DBA Name",
    "Rank",
    "Address 1",
    "Address 2",
    "Address 3",
    "City",
    "State",
    "Zip",
    "County Code",
    "County Name",
    "License Number",
    "Primary Status",
    "Secondary Status",
    "Original License Date",
    "Status Effective Date",
    "License Expiration Date",
    "Alternate License Number",
    "Self Proprietor’s Name",
    "Employer’s Name",
    "Employer’s License Number"
]
header = ','.join(Columns)

Using nested <b>with</b> blocks we can read the source file, write the header, and append each line in the source after it.

We don't need to call any of the various 'reading' methods in order to get the data from the source file. A simple <b>for</b> loop will suffice.

In [35]:
with open(source, 'r') as in_file:
    
    with open(with_header, 'w') as out_file:
        
        out_file.write(header)
        out_file.write('\n')
        
    with open(with_header, 'a') as out_file:
    
        for line in in_file:

            out_file.write(line)

Then we read the intermediate file into a new DataFrame, making sure to keep all the data as a string in order to prevent corrupting any numbers.

In [37]:
aF = pd.read_csv(with_header, dtype=str)

To narrow the dataset down to Miami-Dade licensees only, we'll create and apply a boolean mask.

The mask is an array of True or False values for each row in the DataFrame, depending on the conditional that's to the right of the equal-sign. In this case, the test is whether or not the value in that row's "County Name" column is exactly equal to the string "Dade."

To apply the mask, we call the DataFrame's built-in <b>loc</b> method. Notice that the mask is applied using bracket notation, rather than parentheses.

In [38]:
mask = aF['County Name'] == 'Dade'
group = aF.loc[mask]

Finally, we write the filtered DataFrame to a new file. The original index isn't necessary, so we'll omit that.

In [39]:
group.to_csv(dest, index=False)

## Step 2: Splitting the Data (with More Filtering)

Our purpose here is to see which brokerage firms have the longest commutes—i.e. who is driving the longest to get to work?

The first thing we'll need to do is filter some more. We only want rows for agents or brokers (not offices or companies), and we only want agents or brokers who work with a company, rather than out of their home.

We can start by filtering for rows that have data in the "Employer's Name" column. We'll call Pandas' built-in <b>isnull()</b> method and then reverse it using the special <b>~</b> character, which inverts the boolean array.

We'll also want to break up the data into two tables: one for agents, and another for offices.

(The state's data uses smart-quotes, which will raise a KeyError if you try to filter using straight quotes.)

In [44]:
group.rename(columns={"Employer’s Name": "Employer's Name", "Employer’s License Number": "Employer's License Number"}, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [72]:
mask = (~group["Employer's Name"].isnull())&(group.Rank.str.startswith('SL')|group.Rank.str.startswith('BK')|group.Rank.str.startswith('BL'))

In [73]:
agentFrame = group.loc[mask]

In [74]:
mask = group.Rank.str.startswith('CQ')|group.Rank.str.startswith('BO')

In [75]:
officeFrame = group.loc[mask]

We now have separate tables for agents and firms.

## Step 3: Merging the Tables

Now we want to find out how far away each licensed agent lives from their place of work.

But there is no column in the data for "Employer's Address." There is only information about the employer's name and license number.

Those employers exist as separate rows in the data, and <i>their</i> address is available in that row.

So: we have to take the addresses from the office table and match them up with the appropriate rows in the agents table.

One way to do this is to create a third table containing only office license numbers and addresses, which will serve as a dictionary. We can slice the <b>officeFrame</b> easily.

In [76]:
lookupFrame = officeFrame[['License Number', 'Address 1', 'Address 2', 'Address 3', 'City', 'State', 'Zip']]

In [77]:
lookupFrame.columns = ["Employer's License Number", 'Employer Address 1', 'Employer Address 2', 'Employer Address 3', 'Employer City', 'Employer State', 'Employer Zip']

A DataFrame's <b>merge()</b> method can be used to align two tables based on the value in a certain column—akin to the index-match technique used in Excel.

To do this, you have to make sure that the columns you'd like to line up have the same name. In this case, we're using "Employer's License Number."

We also want to set <b>how</b> to 'outer', which means that any non-matching rows from either the source or merged data will be included in the final table.

In [80]:
mergedFrame = agentFrame.merge(lookupFrame, on="Employer's License Number", how='outer')

And slicing the data to include only addrese, name, and license information will make it more legible.

In [121]:
Address_Columns = [
    'Licensee Name',
    'License Number',
    'Address 1',
    'Address 2',
    'Address 3',
    'City',
    'Zip',
    "Employer's Name",
    "Employer's License Number",
    'Employer Address 1',
    'Employer Address 2',
    'Employer Address 3',
    'Employer City',
    'Employer Zip'
]
addressFrame = mergedFrame[Address_Columns]

Now, we can pull a list of all agents with a given employer and compare the agents' addresses against the firm's.

In [108]:
mask = addressFrame["Employer's Name"].str.contains('ESSLINGER', na=False)

In [111]:
addressFrame.loc[mask].head(10)

,Licensee Name,License Number,Address 1,Address 2,Address 3,City,Zip,Employer's Name,Employer's License Number,Employer Address 1,Employer Address 2,Employer Address 3,Employer City,Employer Zip
1264,"ABAD, MARIA RAQUEL PA",535874,3082 MARY STREET,NaN,NaN,MIAMI,33133,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1265,"ABALLI, PATRICIA R",3171199,91 ISLAND DRIVE,NaN,NaN,KEY BISCAYNE,33149,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1266,"ACEVEDO CRESPO, ZAHIRA",3308574,370 W MCINTYRE ST,NaN,NaN,KEY BISCAYNE,33149,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1267,"ACOSTA OHARE, DORIS A",3208750,1790 S TREASURE DR # 5C,NaN,NaN,NORTH BAY VILLAGE,33141,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1268,"ACOSTA, JULIAN R",3135208,2425 SW 27TH AVENUE APT PH 1406,NaN,NaN,MIAMI,33145,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1269,"ACOSTA, MARIA ELENA",3055258,442 WARREN LANE,NaN,NaN,KEY BISCAYNE,33149,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1270,"ADAMS, ERICA CECILIA",3373354,11900 SW 67TH CT,NaN,NaN,PINECREST,33156,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1271,"ADAMS, JESSICA BEDOYA PA",3253202,4140 CRAWFORD AVE,NaN,NaN,MIAMI,33133,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1272,"ADAMS, KATIE MARIE",3290030,60 SW 13 STREET #3416,NaN,NaN,MIAMI,33130,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134
1273,"ALBUQUERQUE, MARIA TERESA",3057424,6801 INDIAN CREEK DR #704,NaN,NaN,MIAMI BEACH,33141,ESSLINGER WOOTEN MAXWELL INC,25294,201 ALHAMBRA CIRCLE SUITE 1060,NaN,NaN,CORAL GABLES,33134

## Step 4: Searching for More Data

Unfortunately, there is an issue with the licensing data.

The address for each firm only refers to its coporate headquarters—not the specific branch where the agent actually goes to work every day.

And since the corporate headquarters of a brokerage is generally where support, accounting, human resources, and other sides of the business work, its safe to say that an agent's distance to that building is irrelevant.

That means we'll have to collect information about each agent's place of work from a different source.

Our best bet is the brokerage's websites themselves. Douglas Elliman, for example, has the address for each agent listed in an easily scrapable format: https://www.elliman.com/agents/florida/a.

We'll have to collect place-of-work addresses for each of the big brokerages, compile the information into a table, and then perform the reverse of what we just did above. Instead of aligning agents with their employer's license file, we'll have to take the agents' place-of-work addresses and align them with their personal addresses.

The easiest way to do this will be based on each agent's license number, which should be public on every agent's page. If it's not, however, we'll have to use agent names—and that will require cleaning the data pulled from the company sites.

## Side-Step: Mapping Agents by Location

In the meantime—where do most agents live?

In [125]:
zipFrame = addressFrame.loc[~addressFrame['Zip'].isnull()]

In [127]:
zG = zipFrame.groupby(["Employer's Name", 'Zip'])

In [133]:
long = zG['Licensee Name'].count().reset_index()
long.loc[long['Licensee Name'] > 50].sort_values('Licensee Name', ascending=False)

                          Employer's Name    Zip  Licensee Name
14046            OPTIMAR REALTY GROUP LLC  33180             51
8472   GREAT PROPERTIES INTERNATIONAL LLC  33149             51
13668         OCEAN VIEW INT'L REALTY INC  33178             52
1679                BEACHFRONT REALTY INC  33154             52
12641            MIAMI RED BOX REALTY LLC  33160             52
5343                     EAGLE REALTY LLC  33138             52
20069      YAFFE INTERNATIONAL REALTY LLC  33160             53
6052         ESSLINGER WOOTEN MAXWELL INC  33156             54
7188         FLORIDA REALTY OF MIAMI CORP  33186             55
12210              MIAMI BEACH REALTY LLC  33139             55
11980                            MDLV LLC  33139             61
6047         ESSLINGER WOOTEN MAXWELL INC  33149             65
2421            BRICKELL REALTY GROUP LLC  33178             70
5046          DOUGLAS ELLIMAN FLORIDA LLC  33139             74
12436                MIAMI NEW REALTY INC  33178             75
1665                BEACHFRONT REALTY INC  33141             75
1662                BEACHFRONT REALTY INC  33140             78
1659                BEACHFRONT REALTY INC  33139             83
1716                BEACHFRONT REALTY INC  33179             99
14035            OPTIMAR REALTY GROUP LLC  33160            108
18336                   THE KEYES COMPANY  33178            125
1718                BEACHFRONT REALTY INC  33180            151
1687                BEACHFRONT REALTY INC  33160            181